<!DOCTYPE html>
<html>

<head>
  <title>Agri-Advisor v1.0</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--//booststrap end-->

  <!-- font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />
  <!-- //font-awesome icons -->

  <!--stylesheets-->
  <link href="../static/styles/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
</head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <a href="#home">  <img class="kali"  src="static\images\sit.png" width="80px">&nbsp; 
          <h1 id="kali2">Agri-Advisor</h1></a>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#test">Detect</a></li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="main-banner text-center">
      <div class="container">
        <div class="style-banner">
          <h4 class="mb-2">Welcome </h4>
          <h4>To </h4>
          <h4>  Agri-Advisor</h4>
          <br>
          <h5>Your Crop, Our Care</h5>
          <br><br>
          <h4 class="mb-2">ಅಗ್ರಿ-ಅಡ್ವೈಸರ್</h4>
          <h4>ಗೆ</h4>
          <h4>ಸ್ವಾಗತ  </h4>
          <h5>ಯುವರ್  ಕ್ರಾಪ್ ,ಅವರ್  ಕೇರ್</h5>
        </div>
        <div class="two-demo-button mt-md-4 mt-3">
          <p> Developing models for making disease detection easy and providing solutions for improving crop production
          </p>
          <br>
          <p>
            ರೋಗ ಪತ್ತೆಯನ್ನು ಸುಲಭಗೊಳಿಸಲು ಮಾದರಿಗಳನ್ನು ಅಭಿವೃದ್ಧಿಪಡಿಸುವುದು ಮತ್ತು ಬೆಳೆ ಉತ್ಪಾದನೆಯನ್ನು ಸುಧಾರಿಸಲು ಪರಿಹಾರಗಳನ್ನು ಒದಗಿಸುವುದು
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- //banner -->

  <!-- about -->
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-6 about-imgs-txt pt-3">
          <img src="../static/images/4.jpg" alt="news image" class="img-fluid" style="border-radius: 8px;">
        </div>
        <div class="col-lg-6 text-justify about-two-grids pt-3">
          <h3 class="title text-center">ಬಗ್ಗೆ</h3>
          <div class="about-para-txt">
            <p>ಭೂಮಿಯ ಮೇಲಿನ ಶತಕೋಟಿ ಜನರಿಗೆ ಆಹಾರ ಭದ್ರತೆಗೆ ರೋಗಗಳನ್ನು ಸಮಯೋಚಿತವಾಗಿ ಪತ್ತೆಹಚ್ಚುವ ಮೂಲಕ ಬೆಳೆ ಹಾನಿಯನ್ನು ಕಡಿಮೆ ಮಾಡುವ ಅಗತ್ಯವಿದೆ. ಸಸ್ಯ ರೋಗಗಳನ್ನು ಪತ್ತೆಹಚ್ಚಲು ವಿಧಾನಗಳನ್ನು ಅಭಿವೃದ್ಧಿಪಡಿಸುವುದು ಬೆಳೆ ಇಳುವರಿಯನ್ನು ಹೆಚ್ಚಿಸುವ ಮತ್ತು ಸರಿಯಾದ ರೋಗದ ಬಗ್ಗೆ ತಿಳಿಯದೆ ಕೀಟನಾಶಕಗಳ ಬಳಕೆಯನ್ನು ಕಡಿಮೆ ಮಾಡುವ ದ್ವಂದ್ವ ಉದ್ದೇಶವನ್ನು ಹೊಂದಿದೆ. ಉತ್ತಮ ಬೆಳೆ ತಳಿಗಳ ಅಭಿವೃದ್ಧಿಯ ಜೊತೆಗೆ, ಆಹಾರ ಭದ್ರತೆಯನ್ನು ಸಾಧಿಸಲು ರೋಗ ಪತ್ತೆ ಪ್ರಮುಖ ಗುರಿಯಾಗಿದೆ. ರೋಗ ಪತ್ತೆಯ ಸಾಂಪ್ರದಾಯಿಕ ವಿಧಾನವೆಂದರೆ ರೈತರು ಅಥವಾ ತಜ್ಞರಿಂದ ಕೈಯಿಂದ ಮಾಡಿದ ಪರೀಕ್ಷೆಯನ್ನು ಬಳಸುವುದು, ಇದು ಸಮಯ ತೆಗೆದುಕೊಳ್ಳುತ್ತದೆ ಮತ್ತು ದುಬಾರಿಯಾಗಿದೆ, ಇದು ಪ್ರಪಂಚದಾದ್ಯಂತದ ಲಕ್ಷಾಂತರ ಸಣ್ಣ ಮತ್ತು ಮಧ್ಯಮ ಗಾತ್ರದ ಫಾರ್ಮ್‌ಗಳಿಗೆ ಅಸಮರ್ಥವಾಗಿದೆ.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->

  <!-- service -->
  <section class="service pb-5 " id="features">
    <div class="container ">
      <h3 class="title text-center mb-3">ವೈಶಿಷ್ಟ್ಯಗಳು</h3>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-viadeo" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">ಸುಲಭ ಪತ್ತೆ</h4>
              <p> ಎಲೆಯ ಚಿತ್ರವನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ ಮತ್ತು ಅಪ್‌ಲೋಡ್ ಮಾಡಬೇಕಾಗಿದೆ.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-pagelines" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">ಕಾರಣ ಮತ್ತು ಪರಿಹಾರ</h4>
              <p>ಗುರುತಿಸಲಾದ ರೋಗಗಳ ಕಾರಣ ಮತ್ತು ಪರಿಹಾರವನ್ನು ಒದಗಿಸುತ್ತದೆ</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-Agriculture-grid">
            <div class="about-icon mb-md-4 mb-3">
              <span class="fa fa-leaf" aria-hidden="true"></span>
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">ದೊಡ್ಡ ಸಸ್ಯ ಬೆಂಬಲ</h4>
              <p>ಸುಮಾರು 14 ವಿವಿಧ ರೀತಿಯ ಸಸ್ಯಗಳನ್ನು ಬೆಂಬಲಿಸುತ್ತದೆ.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="blog_w3ls py-3 pb-5 pt-10" id="test">
    <div class="container pb-xl-5 pb-lg-3">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">ನಿಮ್ಮ ಸಸ್ಯಗಳನ್ನು ಪರೀಕ್ಷಿಸಿ</h3>
      <div class="row" style="justify-content: center;">
        <form action="{{ url_for('predict') }}" method="POST" enctype=multipart/form-data>
          <div class="form-group text-center">
            <label for="exampleFormControlFile1" style="font-size:28px;"><b>ಫೋಟೋವನ್ನು ನಮೂದಿಸಿ</b></label>
            <br><br>
            <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)
              required>
            <br>
            <button class="btn btn-primary" type="submit"> ಊಹಿಸಿ </button>
          </div>
        </form>
      </div>
      <img id="output-image" class="rounded mx-auto d-block" />
      <br />
    </div>

  </section>

  <!-- footer -->
  <footer>
    <div class="container pt-5 pb-3">
      <div class="footer-w3layouts-head text-center">
        <h2><a href="index.html">Agri-Advisor</a></h2>
      </div>
      <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
        <p>
          Plants feed us, oxygenate us, and provide habitat for countless species
        </p>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('output-image')
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</body>

</html>